<h1>Creating a List </h1>
<form action="/lists/new" method="POST">
  <input type="text" name="title" placeholder="Title:"></br>
  <input type="text" name="list_items[description]" placeholder="Description:"><br>
  <input type="text" name="list_items[word_number]" placeholder="Word Number:"><br>
  <input type="submit" value="Create List">
</form>
