<h1>Creating a List</h1>
<form action="/lists/new" method="POST">
  <input type="text" name="title" placeholder="Title:"><br>
  <textarea name="list_items[description]" placeholder="Description:" rows="10" cols="30"></textarea><br>
  <input type="text" name="list_items[word_number]" placeholder="Word Number:"><br>
  <input type="submit" value="Create List">
</form>
