<h1>Creating a List </h1>
<form action="/lists" method="POST">
  <input type="text" name="title" placeholder="Title:"></br>
  <!-- A form within a form: list_items form within lists form ? -->
  <!-- AJAX + Sinatra https://ididitmyway.herokuapp.com/past/2011/2/27/ajax_in_sinatra/ -->
  <input type="submit" value="Create List">
</form>
