<h1>Sign Up</h1>

<form action="/signup" method="POST">
  Username: <input type="text" name="username" value="<%= params[:username] %>"></br>
  Password: <input type="password" name="password"></br>
  Email: <input type="text" name="email" value="<%= params[:email] %>"></br>
  <input type="submit" value="Sign Up">
</form>
