<h1>New Line Item on <%= @list.title %></h1>

<form action="/items/new/:id" method="POST">
  <input type="text" name="description" placeholder="Description:"><br>
  <input type="text" name="word_number" placeholder="Word Number:"><br>
  <input type="submit" value="Create Task">
</form>
