<h1><%= @list.title %></h1>
<form action="/items/new/<%=@list.id%>" method="POST">
  Item: <textarea name="description" rows="10" cols="30"></textarea><br>
  Word Number: <input type="text" name="word_number"><br>
  <input type="submit" value="Create List Item">
</form>
