<h1><%= @list.title %></h1>
<form action="/items/new/<%=@list.id%>" method="POST">
  <textarea name="description" placeholder="Description:" rows="10" cols="30"></textarea><br>
  <input type="text" name="word_number" placeholder="Word Number:"><br>
  <input type="submit" value="Create Line Item">
</form>
