<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Writing App</title>
  </head>

  <nav>
    <a href="/">Homepage</a> |
    <% if logged_in? %>
      <a href="/lists/new">Make a List</a> |
      <a href="/logout">Sign Out</a>
    <% else %>
      <a href="/signup">Sign Up</a> |
      <a href="/login">Login</a>
    <% end %>
  </nav>

  <body>

    <div class="container">
      <% unless locals.empty? %>
        <%= message %>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
