<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Writing App</title>
  </head>

  <nav>
    <a href="/">Homepage</a> |
    <a href="/signup">Sign Up</a> |
    <a href="/login">Login</a> |
    <a href="/logout">Sign Out</a> |
  </nav>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
